.switch {
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
  // reset button styles
  background: none;
  border: none;
  padding: 0;
}

.label {
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--theme-switch-color);
}

svg {
  fill: var(--theme-switch-color);
}

.switch:is(:hover, :focus-visible) > .label {
  color: var(--theme-switch-color-hover);
}

.switch:is(:hover, :focus-visible) > svg {
  fill: var(--theme-switch-color-hover);
}
