@use 'styles' as *;

:host {
  display: block;
  width: 87.2%;
  margin: 0 auto;

  @include tablet {
    width: 74.6%;
  }

  @include desktop {
    width: 730px;
    margin: auto; // Center with body grid display
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name {
  color: var(--product-name-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
}
