@use "reset";
@use "fonts";

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1439px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1440px) {
    @content;
  }
}

$accent-color: #0079FF;
$accent-color-hover: #60ABFF;
$box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.2);

html {
  --canvas-color: #F6F8FF;
  --background-color: #FEFEFE;
  --theme-switch-color: #4B6A9B;
  --theme-switch-color-hover: #222731;
  --product-name-color: #222731;
  --body-color: #4B6A9B;
  --username-digits-color: #2B3442;
  --created-at-color: #697C9A;

  &.dark {
    --canvas-color: #141D2F;
    --background-color: #1E2A47;
    --theme-switch-color: white;
    --theme-switch-color-hover: #90A4D4;
    --product-name-color: white;
    --body-color: white;
    --username-digits-color: white;
    --created-at-color: white;
  }
}

body {
  background: var(--canvas-color);
  padding-top: 31px;
  font-family: "Space Mono", monospace;

  @include tablet {
    padding-top: 140px;
  }

  @include desktop {
    padding-top: 0;
    display: grid;
  }
}
